article figure img{
    width: 600px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid #0D47A1;
    padding: 10px;
}
h1#article-title{
    text-align: left;
    font-family: Georgia;
    font-size: 24pt;
    color: white;
    background-color: #0D47A1;
    padding-left: 5px #0D47A1;
}
h2.section-header{
    font-family: Georgia;
    font-style: bold;
    font-size: 16pt;
    color: white;
    background-color:#0D47A1;
    text-align: left;
    padding-left: 5px #0D47A1;
}
p{
    text-align: left;
    font-family: Helvetica;
    color: black;
    font-size: 12pt;
    background-color: #E4EAF4; 
}
ul li{
    text-align: left;
    font-family: Helvetica;
    color: black;
    font-size: 12pt;
    background-color: #E4EAF4;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul li:first-child{
    border-top: 3px solid #0D47A1;
}
ul li:last-child{
    border-bottom: 3px solid #0D47A1;
}
footer#contact-info{
    color: white;
    font-family: Helvetica;
    font-size: 12pt;
}